/* Tabs.css */

  
  .tab button:hover{
    background-color: hsl(303, 71%, 28%);
  }
  
  .tab button:focus{
    background-color: purple;
    color:beige;
    
  }
  .tab button:active{
    background-color: rgb(250, 226, 8);
    color:beige;
  }
  
  


  
